@page
@model WebAPI.Pages.Extras.CreateModel
@{
    ViewData["Title"] = "Create Extras";
}

<h1>Create Extra pentru Detaliile de la:</h1>
<h2>@ViewData["path"]</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="detalii">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ExtrasDTO.Nume" class="control-label"></label>
                <input asp-for="ExtrasDTO.Nume" class="form-control" />
                <span asp-validation-for="ExtrasDTO.Nume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExtrasDTO.Valoare" class="control-label"></label>
                <input asp-for="ExtrasDTO.Valoare" class="form-control" />
                <span asp-validation-for="ExtrasDTO.Valoare" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-page="/Detaliis/Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
